sonatype:
  username: ENTER_YOUR_SONATYPE_USER_NAME_HERE
  password: ENTER_YOUR_SONATYPE_PASSWORD_HERE

gradle:
  publish:
    key: ENTER_YOUR_GRADLE_PUBLISH_KEY_HERE
    secret: ENTER_YOUR_GRADLE_PUBLISH_SECRET_HERE

gpg:
  password: ENTER_YOUR_GPG_PASSWORD_HERE
  privateKey: ENTER_YOUR_GPG_PRIVATE_KEY_HERE

jetbrains:
  marketplace-token: ENTER_YOUR_JETBRAINS_MARKETPLACE_TOKEN_HERE
  privateKeyPassword: ENTER_YOUR_JETBRAINS_PRIVATE_KEY_PASSWORD_HERE
  privateKey: ENTER_YOUR_JETBRAINS_PRIVATE_KEY_HERE
  certificateChain: ENTER_YOUR_JETBRAINS_CERTIFICATION_CHAIN_HERE